<!-- <navbarko (onNavbarLayerChange)="onNavbarLayerChanged($event)"></navbarko>
<mapko (onLayerLoaded)="onLayerMapLoaded($event)"></mapko>  -->


<div class="containerok">
        <div class="arm"><img src="./assets/images/arms_of_kharkiv.png" width="50" height="60"></div>
        <!-- Заголовок -->
        <div class="header">
          <div class="container-fluid">
            <div class="row justify-content-between">
              <div class="col-sm-5 hidden-sm-down">
              <p id="titlo" >Харьков - город, в котором хочется жить</p>
              </div>
              <div class="col-sm-7">
                <navbarko (onNavbarLayerChange)="onNavbarLayerChanged($event)"></navbarko>
              </div>
            </div>
          </div>      
        </div>
        <div class="main">                
          <mapko (onLayerLoaded)="onLayerMapLoaded($event)"></mapko>
        </div>
        <!-- футер -->
        <div class="footer">
          <a href="http://www.infocity.kharkov.ua/"><p id="footerlink" >КП "Міський інформаційний центр" © 2017 р. Харків</p></a>
        </div>  
      </div>